@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Match Love</h1>
    <p>Conheça novas pessoas.</p>
    <a href="@Url.Action("Index", "Descoberta")">Ir para Descoberta!</a>
</div>
